<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.dao.BackUserMapper">

    <resultMap id="UserInfoMap" type="com.cn.entity.BackUser">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>

        <collection property="roles" ofType="com.cn.entity.Role">
            <id property="id" column="rid"/>
            <result property="rolename" column="rolename"/>
            <result property="rolealias" column="rolealias"/>
        </collection>

        <collection property="powers" ofType="com.cn.entity.Power">
            <id property="id" column="powerid"/>
            <result property="pid" column="powerpid"/>
            <result property="powername" column="powername"/>
            <result property="powerpath" column="powerpath"/>
            <result property="status" column="powerstatus"/>
        </collection>
    </resultMap>

    <select id="queryByUserName" resultMap="UserInfoMap">
        select *,p.id as powerid,p.pid as powerpid,p.status as powerstatus from back_user bu
        left join user_role_table urt on bu.id=urt.uid
        left join role r on urt.rid=r.id
        left join role_power_table rpt on r.id=rpt.rid
        left join power p on p.id=rpt.pwid
        where username=#{username}
    </select>
</mapper>